.form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;
  padding: 40px 0;
  padding-bottom: 80px;
}

.title {
  width: 60%;
  margin-bottom: 0.8em;
  color: green;
}


.input {
  width: 100%;
}

.error {
  color: red;
  padding: 2px;
}

.submit {
  margin-top: 30px;
}

@media (min-width: 600px) {
  .form {
    width: 60%;
  }
}