.defaultButton {
  background: #118060;
  border-radius: 3px;
  color: #fff;
  height: 32px;
  display: block;
  width: 100%;
  border: none;
  text-align: center;
}

.defaultButton:hover {
  background-color: #298d50;
  color: wheat;
}

.defaultButton:active {
  background-color: #298d70;
}

