.item_container {
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #00000045;
  margin: 10px 8px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 8px 6px -6px #0000006b;
  min-width: 230px;
}

.image_item {
  background-color: white;
  height: 330px;
  width: 330px;
}

.image_item:hover {
  opacity: 0.55;
  cursor: pointer;
}

.content_title {
  padding: 0;
  margin: 0;
  font-size: 1.3rem;
}

.content_container {
  display: flex;
  flex-direction: column;
}

.item_description {
  font-size: 1rem;
}

.icons {
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: space-between;
  width: 40px;
}

.nav_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.edit .delete {
  cursor: pointer;
}

@media (min-width: 600px) {
  .item_container {
    margin: 15px 40px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2px 30px;
  }

  .content_container {
    margin-left: 20px;
  }

  .image_item {
    padding-top: 48px;
  }
}