.title {
  width: 60%;
  margin: auto;
  margin-top: 0.8em;
  color: green;
}

.form {
  padding-bottom: 2em;
  margin-bottom: 2em;
}

.form_group {
    width: 60%;
    margin: auto;
    margin-top: 1.5em;
}

.submit {
    width: 50%;
    margin: auto;
    margin-top: 4em;
    margin-bottom: 3em;
  }

  .delete {
    width: 25%;
    margin: auto
  }

  .error {
    color: red;
    padding: 2px;
  }
  