.login_container {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  height: 100%;;
}

.icon_container {
  margin-top: 30px;
}

.logo {
  height: 200px;
  width: 200px;
}

.form {
  width: 90%;
  margin-bottom: 20px;
}

.form_group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form_label {
  padding-left: 8px;
  margin-bottom: 8px;
}

.error {
  color: red;
  padding: 2px;
}

.signup_container {
  margin-top: 30px;
  width: 90%;
}

.signup_text {
  text-align: center;
  font-size: 1rem;
}

.link {
  color: unset;
}

@media (min-width: 450px) {
  .form {
    width: 70%;
  }
  .signup_container {
    width: 70%;
  }
}